body {
  font-family: "Roboto", sans-serif;
}
.intro {
  color: #00bfff;
  text-align: center;
}
.description {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  padding: 10px;
}
img {
  width: 50%;
  height: auto;
}
.nodejs_img {
  width: 20%;
  height: auto;
}
